<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
        <style>
             div{
                display: flex;
                justify-content: center;
                background-color: rgb(229, 190, 142);
                font-family: Verdana, Geneva, Tahoma, sans-serif;                
            }
             .he-1{                
                color: rgb(7, 112, 26);
            }
        </style>
    </HEAD>
    <BODY>
        <div class="he-1">
            <h1>Displaying Data from the Backend </h1>
            </div>
        <div>
        <H1>Number: {{num}}</H1>
        </div>
    </BODY>
</HTML>